.AuthPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 50px;
}

.logo {
  height: 10%;
}

.AuthPage > h2 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.AuthPageFormsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 50vh;
  margin-top: 0px;
}

button {
  font-size: 13px;
  width: 80px;
  height: 25px;
  background-color: white;
  border: 2px solid #207178;
}

button:hover {
  cursor: pointer;
  color: white;
  font-weight: 700;
  background-color: #207178;
}

footer {
  height: 200px;
}
